html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.center {
    width: 50%;
    position: fixed;
    top: 40%;
    /* NOTICE a bit higher */
    left: 50%;
    transform: translate(-50%, -50%);
}

.summary {
    width: 40%;
    position: absolute;
    right: 50%;
}

.carousel-button {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2%;
}

h2 {
    color: #F1CEA8;
}

body {
    font-family: 'berlin';
}