html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.carousel-container {
    position: absolute;
    z-index: 1;
}

.center {
    width: 50%;
    position: fixed;
    top: 40%;
    /* NOTICE a bit higher */
    left: 50%;
    transform: translate(-50%, -50%);
}

.summary {
    width: 40%;
    position: absolute;
    right: 50%;
}

.carousel-button {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2%;
}

h2 {
    color: #F1CEA8;
}

body {
    font-family: 'berlin';
    margin: 0;
}

.icon-close {
    position: fixed;
    top: calc(var(--space) * 1.5);
    right: calc(var(--space) * 2);
    cursor: pointer;
    z-index: 5;
}

#topRightFixed {
    position: fixed;
    top: 2%;
    right: 2%;
    display: none;
    /*
    background: #336600;
    padding: 6px;
    color: rgb(0, 0, 0);
    font-size: 1.4em;
    */
}

#buttonLeftFixed {
    position: fixed;
    bottom: 2%;
    left: 2%;
    /*
    background: #336600;
    padding: 6px;
    color: rgb(0, 0, 0);
    font-size: 1.4em;
    */
}

#buttonRightFixed {
    position: fixed;
    bottom: 2%;
    right: 2%;
    /*
    background: #336600;
    padding: 6px;
    color: rgb(0, 0, 0);
    font-size: 1.4em;
    */
}

#navigate_before {
    position: fixed;
}

:root {
    --color-primary: #9F6C58;
    --color-secondary: #ffffff;
    --duration: 1s;
    --nav-duration: calc(var(--duration) / 4);
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --space: 1rem;
    --font-primary: "berlin";
    --font-heading: "berlin";
    --font-size: 180px;
    --line-height: 1.5;
}


/* ------ Detailed page ------- */

.detailed-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    /*
     display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
*/
}

.top_container {
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: row;
    /*
    flex: 50;
    display: flex;
    flex-direction: row;
    */
}

.bottom_container {
    background: rgb(255, 255, 255);
    height: 50%;
    width: 90%;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
    /*
    flex: 30;
    background: rgb(255, 255, 255);
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    */
    /* NOTICE to keep off from button */
}

.simplex_box {
    flex: 50;
    display: flex;
    background: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}

.graph_box {
    flex: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    max-height: 100%;
}

canvas {
    max-height: 90%;
    /*padding-bottom: 25px; */
}