#mapid {
    z-index: 0;
    margin-top: 60px;
    height: 580px;
    /* 480px */
    z-index: 0;
}


/* This class is added on scroll */

.fixedscroll {
    /*overflow: hidden;  makes submenus unseen*/
    z-index: 99;
    position: fixed;
    /* Set the navbar to fixed position */
    left: 0;
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    background: rgb(255, 255, 255);
    /* notice background-color: ; */
}


/* Add a top margin to avoid content overlay */

.maringscroll {
    margin-top: 100px;
}