@charset "UTF-8";
.menu:before,
.menu {
    position: absolute;
    top: 15%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.menu li:before,
.menu:before {
    font-family: "Material Icons" !important;
    font-feature-settings: "liga";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menu *,
.menu :before,
.menu .menu:after {
    box-sizing: border-box;
    transition: 0.3s;
}

.menu body {
    background: linear-gradient(135deg, #f93239, #dd2476);
    height: 100vh;
    margin: 0;
    font-family: Roboto;
}

.menu {
    background: #ffffff;
    height: 56px;
    width: 56px;
    border-radius: 5px;
    color: #a7a7a7;
    font-size: 2em;
    cursor: pointer;
}

.menu:before {
    content: "";
    font-size: inherit;
}

.menu ul {
    background: #000000;
    padding: 0.5em 0;
    margin: 0;
    margin-top: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    left: 0;
    color: inherit;
    font: 400 18px Roboto;
    white-space: nowrap;
    cursor: default;
}

.menu ul.hidden {
    margin-top: 0.7em;
    visibility: hidden;
    opacity: 0;
}

.menu ul:before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    background: inherit;
    position: absolute;
    top: -0.375em;
    left: calc(56px / 2 - 0.375em);
    transform: rotate(45deg);
}

.menu li {
    list-style: none;
    padding: 0.5em;
    padding-left: 2.5em;
    margin: 0;
    position: relative;
    cursor: pointer;
}

.menu li:before {
    position: absolute;
    top: calc(5% + 8px);
    left: 8px;
}

.menu li:nth-child(1):before {
    content: "";
}

.menu li:nth-child(2):before {
    content: "";
}

.menu li:nth-child(3):before {
    content: "";
}

.menu li:nth-child(4):before {
    content: "";
}

.menu li:hover {
    background: rgba(196, 39, 149, 0.877);
}