/* fix menu css style conflict */

.menu * {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* ---- button ---- */

.button {
    display: inline-block;
    padding: 0.5em 1.0em;
    background: #EEE;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2));
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    text-shadow: 0 1px white;
    cursor: pointer;
}

.button:hover {
    background-color: #8CF;
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
    color: #222;
}

.button:active,
.button.is-checked {
    background-color: #28F;
}

.button.is-checked {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}


/* ---- button-group ---- */

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
}

.button-group .button:first-child {
    border-radius: 0.5em 0 0 0.5em;
}

.button-group .button:last-child {
    border-radius: 0 0.5em 0.5em 0;
}


/* ---- isotope ---- */

.grid {
    z-index: -1;
    background: #EEE;
}


/* clear fix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}


/* ui group */

.ui-group {
    display: inline-block;
}

.ui-group h3 {
    display: inline-block;
    margin-right: 0.2em;
    font-size: 16px;
}

.ui-group .button-group {
    display: inline-block;
    margin-right: 20px;
}


/* color-shape */

.color-shape {
    width: 70px;
    height: 70px;
    margin: 5px;
    float: left;
}

.color-shape.round {
    border-radius: 35px;
}

.color-shape.big.round {
    border-radius: 75px;
}

.color-shape.red {
    background: red;
}

.color-shape.blue {
    background: blue;
}

.color-shape.yellow {
    background: yellow;
}

.color-shape.wide,
.color-shape.big {
    width: 150px;
}

.color-shape.tall,
.color-shape.big {
    height: 150px;
}

;

/* photo*/

.photo {
    width: 70px;
    height: 70px;
    margin: 5px;
    float: left;
}

img {
    max-width: 100%;
    /* makes photo size adaptable*/
}


/* color-shape */


/* CHANGE PICTURE SIZE */

.building_square {
    width: 70px;
    height: 70px;
    margin: 5px;
    float: left;
}


/* Only showing tooltips when sliding handles */

.noUi-tooltip {
    display: none;
}

.noUi-active .noUi-tooltip {
    display: block;
}


/* fix Items jump after transitioning position bug on isotope */

.grid-item {
    transition: background 0.4s, box-shadow 0.4s;
}