/* fix menu css style conflict */

.menu * {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* Grow photos when you hover */

.grow:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}


/* ---- button ---- */

.button {
    display: inline-block;
    padding: 0.5em 1.0em;
    background: #EEE;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2));
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    text-shadow: 0 1px white;
    cursor: pointer;
}

.button:hover {
    background-color: #8CF;
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
    color: #222;
}

.button:active,
.button.is-checked {
    background-color: #28F;
}

.button.is-checked {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}


/* ---- button-group ---- */

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
}

.button-group .button:first-child {
    border-radius: 0.5em 0 0 0.5em;
}

.button-group .button:last-child {
    border-radius: 0 0.5em 0.5em 0;
}


/* ---- isotope ---- */

.grid {
    z-index: -1;
    background: #EEE;
}


/* clear fix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}


/* ui group */

.ui-group {
    display: inline-block;
}

.ui-group h3 {
    display: inline-block;
    margin-right: 0.2em;
    font-size: 16px;
}

.ui-group .button-group {
    display: inline-block;
    margin-right: 20px;
}


/* color-shape */

.color-shape {
    width: 70px;
    height: 70px;
    margin: 5px;
    float: left;
}

.color-shape.round {
    border-radius: 35px;
}

.color-shape.big.round {
    border-radius: 75px;
}

.color-shape.red {
    background: red;
}

.color-shape.blue {
    background: blue;
}

.color-shape.yellow {
    background: yellow;
}

.color-shape.wide,
.color-shape.big {
    width: 150px;
}

.color-shape.tall,
.color-shape.big {
    height: 150px;
}

;

/* photo*/

.photo {
    width: 70px;
    height: 70px;
    margin: 5px;
    float: left;
}

img {
    max-width: 100%;
    /* makes photo size adaptable*/
}


/* color-shape */


/* CHANGE PICTURE SIZE */

.building_square {
    width: 70px;
    height: 70px;
    margin: 5px;
    float: left;
}


/* Only showing tooltips when sliding handles */

.noUi-tooltip {
    display: none;
}

.noUi-active .noUi-tooltip {
    display: block;
}


/* fix Items jump after transitioning position bug on isotope */

.grid-item {
    transition: background 0.4s, box-shadow 0.4s;
}

@import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");
:root {
    --color-primary: #002626;
    --color-secondary: #f0f7ee;
    --duration: 1s;
    --nav-duration: calc(var(--duration) / 4);
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --space: 1rem;
    --font-primary: "Helvetica", sans-serif;
    --font-heading: "Merriweather", serif;
    --font-size: 1.125rem;
    --line-height: 1.5;
}


/*
* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    font-size: var(--font-size);
    line-height: var(--line-height);
}
*/

h1 {
    margin-bottom: calc(var(--space) * 3);
    font-family: var(--font-heading);
    font-size: calc(var(--font-size) + 6vmin);
    line-height: calc(var(--line-height) / 1.25);
}

.main-navigation-toggle {
    position: fixed;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.main-navigation-toggle+label {
    position: fixed;
    top: calc(var(--space) * 1.5);
    right: calc(var(--space) * 2);
    cursor: pointer;
    z-index: 2;
}

.icon--menu-toggle {
    --size: calc(1rem + 4vmin);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    stroke-width: 6;
}

.icon-group {
    transform: translateX(0);
    transition: transform var(--nav-duration) var(--ease);
}

.icon--menu {
    stroke: var(--color-primary);
}

.icon--close {
    stroke: var(--color-secondary);
    transform: translateX(-100%);
}

.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform var(--nav-duration);
    z-index: 1;
}

.main-navigation:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transform-origin: 0 50%;
    z-index: -1;
}

.main-navigation ul {
    font-size: 12vmin;
    font-family: var(--font-heading);
    width: 100%;
}

.main-navigation li {
    --border-size: 1vmin;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.main-navigation li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--border-size);
    background-color: var(--color-secondary);
    transform-origin: 0 50%;
    transform: translateX(-100%) skew(15deg);
}

.main-navigation a {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: var(--color-secondary);
    line-height: 1;
    text-decoration: none;
    user-select: none;
    padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
    transform: translateY(100%);
}

.main-content {
    margin: 6rem auto;
    max-width: 70ch;
    padding: 0 calc(var(--space) * 2);
    transform: translateX(0);
    transition: transform calc(var(--nav-duration) * 2) var(--ease);
}

.main-content>*+* {
    margin-top: calc(var(--space) * var(--line-height));
}

.main-navigation-toggle:checked~label .icon--menu-toggle .icon-group {
    transform: translateX(100%);
}

.main-navigation-toggle:checked~.main-content {
    transform: translateX(10%);
}

.main-navigation-toggle:checked~.main-navigation {
    transition-duration: 0s;
    transform: translateX(0);
}

.main-navigation-toggle:checked~.main-navigation:after {
    animation: nav-bg var(--nav-duration) var(--ease) forwards;
}

.main-navigation-toggle:checked~.main-navigation li:after {
    animation: nav-line var(--duration) var(--ease) forwards;
}

.main-navigation-toggle:checked~.main-navigation a {
    animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
}

.main-navigation-toggle:checked~.main-navigation li:nth-child(1):after,
.main-navigation-toggle:checked~.main-navigation li:nth-child(1) a {
    animation-delay: calc((var(--duration) / 2) * 1 * 0.125);
}

.main-navigation-toggle:checked~.main-navigation li:nth-child(2):after,
.main-navigation-toggle:checked~.main-navigation li:nth-child(2) a {
    animation-delay: calc((var(--duration) / 2) * 2 * 0.125);
}

.main-navigation-toggle:checked~.main-navigation li:nth-child(3):after,
.main-navigation-toggle:checked~.main-navigation li:nth-child(3) a {
    animation-delay: calc((var(--duration) / 2) * 3 * 0.125);
}

.main-navigation-toggle:checked~.main-navigation li:nth-child(4):after,
.main-navigation-toggle:checked~.main-navigation li:nth-child(4) a {
    animation-delay: calc((var(--duration) / 2) * 4 * 0.125);
}

@keyframes nav-bg {
    from {
        transform: translateX(-100%) skewX(-15deg);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes nav-line {
    0% {
        transform: scaleX(0);
        transform-origin: 0 50%;
    }
    35% {
        transform: scaleX(1.001);
        transform-origin: 0 50%;
    }
    65% {
        transform: scaleX(1.001);
        transform-origin: 100% 50%;
    }
    100% {
        transform: scaleX(0);
        transform-origin: 100% 50%;
    }
}

@keyframes link-appear {
    0%,
    25% {
        transform: translateY(100%);
    }
    50%,
    100% {
        transform: translateY(0);
    }
}